@if(Request.IsAuthenticated) {
    <text><b>@Context.User.Identity.Name</b>
    [<a href="#dialog" onclick="showModalPopup('Account/Profile/@Context.User.Identity.Name')">Profile</a>, @Html.ActionLink("Log Off", "LogOff", "Account") ]</text>
}
else {
    @:[ @Html.ActionLink("Log On", "LogOn", "Account") ]
}